<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <select name="Select2">
               <% for(i=0;i<data.length;i++){
                    
               %>
            <option value=<%=data[i].userName%></option>
            <%=data[i].userName%></option><%}%>
            
        </select>
        <p><input type="submit",value="edit"></p>
        
</body>
</html>