<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <table>
            <th>Sl No.</th>
            <th>name</th>
            <th>Password</th>  
                        <% for(var i=0;i<data.length;i++){%>
                    <tr>
                        <td><%=(i+1)%></td>
                        <td><%=data[i].userName %></td>
                        <td><%=data[i].userPassword %></td>
                    </tr>
                    <% }%>
                </table>
         
</body>
</html>

